*{
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    justify-content:space-around;
    align-items:center;
height: auto;
}
#task-input{
width: 200px;
}
#add-btn{
width: 100px;
}







